# This workflow is meant to be called by workflows in other repositories.
# That's why the event is `workflow_call` instead of `issue_comment` here.
on:
  workflow_call:
    inputs:
      pr-number:
        required: true
        type: number
      comment-action:
        required: true
        type: string
      comment-body:
        required: true
        type: string
      state:
        required: true
        type: string

env:
  GOPRIVATE: "github.com/cloudy-sky-software/*"

jobs:
  regen_all:
    # This job only runs for pull request comments.
    name: On-demand regen schema and SDKs in a PR
    if: ${{ inputs.comment-action == 'created' && inputs.comment-body == '/regen all' && inputs.state == 'open' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19.x

      - name: Install DotNet SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            3.1.301
            6.0.x

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - run: |
          git config --global url."https://praneetloke:${GH_REPO_PAT}@github.com/".insteadOf "https://github.com/"
        env:
          GH_REPO_PAT: ${{ secrets.GH_REPO_PAT }}

      # This step's outputs.result will be a PR object.
      # https://docs.github.com/en/rest/pulls/pulls?apiVersion=2022-11-28#get-a-pull-request
      - uses: actions/github-script@v6
        id: get-pr
        env:
          PR_NUMBER: ${{ inputs.pr-number }}
        with:
          script: |
            const { PR_NUMBER } = process.env;
            return github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: PR_NUMBER
            });

      - name: Regen schema and SDKs
        if: ${{ steps.get-pr.outputs.result && fromJson(steps.get-pr.outputs.result).data }}
        env:
          REF: ${{ fromJson(steps.get-pr.outputs.result).data.head.ref }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          # Switch to the PR branch.
          git fetch
          git checkout ${REF}

          make gen generate_schema build

          git add provider/cmd/pulumi-resource-*
          git add sdk/*

          git commit -am "Regen schema and SDKs"

          git push origin ${REF}
